MasterWebService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://master/" name="MasterWebService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://master/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://master/" schemaLocation="MasterWebService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="splitDictionary">
    <part name="parameters" element="tns:splitDictionary"/>
  </message>
  <message name="splitDictionaryResponse">
    <part name="parameters" element="tns:splitDictionaryResponse"/>
  </message>
  <message name="FileNotFoundException">
    <part name="fault" element="tns:FileNotFoundException"/>
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException"/>
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <portType name="MasterWebService">
    <operation name="splitDictionary">
      <input wsam:Action="http://master/MasterWebService/splitDictionaryRequest" message="tns:splitDictionary"/>
      <output wsam:Action="http://master/MasterWebService/splitDictionaryResponse" message="tns:splitDictionaryResponse"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://master/MasterWebService/splitDictionary/Fault/FileNotFoundException"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://master/MasterWebService/splitDictionary/Fault/IOException"/>
    </operation>
    <operation name="hello">
      <input wsam:Action="http://master/MasterWebService/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://master/MasterWebService/helloResponse" message="tns:helloResponse"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://master/MasterWebService/hello/Fault/FileNotFoundException"/>
      <fault message="tns:IOException" name="IOException" wsam:Action="http://master/MasterWebService/hello/Fault/IOException"/>
    </operation>
  </portType>
  <binding name="MasterWebServicePortBinding" type="tns:MasterWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="splitDictionary">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
      <fault name="IOException">
        <soap:fault name="IOException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MasterWebService">
    <port name="MasterWebServicePort" binding="tns:MasterWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

